html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}
#footer-page {
    width: 100%;
    height: 300px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1d262d;
    justify-content: space-around;
    font-family: 'segoe UI';
}

    #footer-page .ft-1 {
        width: 20%;
        height: 150px;
        margin-top: 25px;
        cursor: pointer;
    }

.ft-1 p {
    color: #869fb2;
    font-size: 15px;
}

.ft-1 img:hover {
    transform: scale(1.1);
    transition: 300ms;
}

#footer-page .ft-2 {
    width: 20%;
    height: 180px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.ft-2 a {
    color: #869fb2;
    font-size: 18px;
    text-decoration: none;
}

    .ft-2 a:hover {
        color: white;
        transform: scale(1.05);
    }

#footer-page .ft-3 {
    width: 20%;
    height: 200px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.ft-3 a {
    color: #869fb2;
    font-size: 18px;
    text-decoration: none;
}

    .ft-3 a:hover {
        color: white;
        transform: scale(1.05);
    }

#footer-page .ft-4 {
    width: 20%;
    height: 100px;
    margin-top: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.ft-4 p {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.ft-4 a {
    color: #869fb2;
    font-size: 18px;
    text-decoration: none;
}

    .ft-4 a:hover {
        color: white;
        transform: scale(1.05);
    }
