################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CMS-Site/v17/.wsuo
*.wsuo
/.vs/PersonalPage/FileContentIndex/24ce5385-e632-48c1-b9d4-9786a5959e79.vsidx
/.vs/PersonalPage/FileContentIndex/81bdb377-16ea-4dd3-b733-5dfd68ea5bbc.vsidx
/.vs/PersonalPage/FileContentIndex/c1b3fe4d-5dcc-49b7-a394-5833eb8eb081.vsidx
/.vs/PersonalPage/FileContentIndex/ed55a958-f58a-4fcd-8627-43aca6157744.vsidx
/.vs/PersonalPage/FileContentIndex/read.lock
/.vs/PersonalPage/v17/.wsuo
/.vs/slnx.sqlite
/.vs
/CMS/CMS/.vs/CMS/config/applicationhost.config
/CMS/CMS/.vs/CMS/v17/.wsuo
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Aplicacion.deps.json
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Aplicacion.dll
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Aplicacion.pdb
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Dominio.dll
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Dominio.pdb
*.vsidx
*.suo
/ContentManagementSystem/CyanCMS.Application/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Application/obj
/ContentManagementSystem/CyanCMS.Domain/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Domain/obj
/ContentManagementSystem/CyanCMS.Infraestructure/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Infraestructure/obj
/ContentManagementSystem/CyanCMS.Platform/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Platform/obj
/ContentManagementSystem/CyanCMS.Site/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Site/obj
/ContentManagementSystem/CyanCMS.Utils/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Utils/obj
*.v2
/ContentManagementSystem/.vs/ProjectEvaluation/contentmanagementsystem.metadata.v7.bin
/ContentManagementSystem/.vs/ProjectEvaluation/contentmanagementsystem.projects.v7.bin
/ContentManagementSystem/CyanCMS.Application/bin/Debug/net8.0
*.config
/ContentManagementSystem/CyanCMS.Domain/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.Infraestructure/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.WebAPI/bin/Debug/net8.0/runtimes
/ContentManagementSystem/CyanCMS.WebAPI/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.WebAPI/obj/Debug/net8.0/ref
*.dll
/ContentManagementSystem/CyanCMS.WebAPI/obj/Debug/net8.0/staticwebassets
/ContentManagementSystem/CyanCMS.WebAPI/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.WebAPI/obj
/ContentManagementSystem/CyanCMS.Utils/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.API/bin/Debug/net8.0/runtimes/linux/native
/ContentManagementSystem/CyanCMS.API/bin/Debug/net8.0/runtimes/osx/native
/ContentManagementSystem/CyanCMS.API/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.API/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.API/obj
/ContentManagementSystem/CyanCMS.Application/bin/Release/net8.0
/ContentManagementSystem/CyanCMS.Domain/bin/Release/net8.0
/ContentManagementSystem/CyanCMS.Infraestructure/bin/Release/net8.0
/ContentManagementSystem/CyanCMS.WebAPI/bin/Release/net8.0/linux-x64
/ContentManagementSystem/CyanCMS.WebAPI/bin/Release/net8.0
/ContentManagementSystem/CyanCMS.WebAPI/Properties
/ContentManagementSystem/CyanCMS.API/Properties
/ContentManagementSystem/CyanCMS.WebPlatform/obj
/ContentManagementSystem/CyanCMS.Platform/Properties
/ContentManagementSystem/CyanCMS.WebPlatform/Properties
/ContentManagementSystem/CyanCMS.WebPlatform/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.APIv1/bin/Debug/net8.0/runtimes
/ContentManagementSystem/CyanCMS.APIv1/bin/Debug/net8.0
/ContentManagementSystem/CyanCMS.APIv1/bin/Debug/net8.0/CyanCMS.API.deps.json
/ContentManagementSystem/CyanCMS.APIv1/obj/Container
/ContentManagementSystem/CyanCMS.APIv1/obj
/ContentManagementSystem/CyanCMS.APIv1/obj/Debug/net8.0/staticwebassets/msbuild.build.CyanCMS.API.props
/ContentManagementSystem/CyanCMS.WebAPI/CyanCMS.WebAPI.csproj.user
