################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CMS-Site/v17/.wsuo
*.wsuo
/.vs/PersonalPage/FileContentIndex/24ce5385-e632-48c1-b9d4-9786a5959e79.vsidx
/.vs/PersonalPage/FileContentIndex/81bdb377-16ea-4dd3-b733-5dfd68ea5bbc.vsidx
/.vs/PersonalPage/FileContentIndex/c1b3fe4d-5dcc-49b7-a394-5833eb8eb081.vsidx
/.vs/PersonalPage/FileContentIndex/ed55a958-f58a-4fcd-8627-43aca6157744.vsidx
/.vs/PersonalPage/FileContentIndex/read.lock
/.vs/PersonalPage/v17/.wsuo
/.vs/slnx.sqlite
/.vs
/CMS/CMS/.vs/CMS/config/applicationhost.config
/CMS/CMS/.vs/CMS/v17/.wsuo
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Aplicacion.deps.json
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Aplicacion.dll
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Aplicacion.pdb
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Dominio.dll
/CMS/CMS/CMS.Aplicacion/bin/Debug/net6.0/CMS.Dominio.pdb
*.vsidx
*.suo
/ContentManagementSystem/CyanCMS.Application/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Application/obj
/ContentManagementSystem/CyanCMS.Domain/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Domain/obj
/ContentManagementSystem/CyanCMS.Infraestructure/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Infraestructure/obj
/ContentManagementSystem/CyanCMS.Platform/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Platform/obj
/ContentManagementSystem/CyanCMS.Site/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Site/obj
/ContentManagementSystem/CyanCMS.Utils/obj/Debug/net8.0
/ContentManagementSystem/CyanCMS.Utils/obj
