################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CMS/CMS/.vs/CMS/FileContentIndex/230745c9-4ed4-4d64-ae01-9cfcfecec1a3.vsidx
/CMS/CMS/.vs/CMS/FileContentIndex/4d052881-4253-44a5-96c9-5e9787c080dd.vsidx
/CMS/CMS/.vs/CMS/FileContentIndex/93bd05b9-126d-4849-bf10-909a8f47185f.vsidx
/CMS/CMS/.vs/CMS/FileContentIndex/d6413797-62f2-4ce5-ae96-ca9f39e290b7.vsidx
*.vsidx
/CMS/CMS/.vs/CMS/FileContentIndex/read.lock
/CMS/CMS/CMS.Aplicacion/obj/Debug/net6.0/CMS.Aplicacion.assets.cache
/CMS/CMS/CMS.Aplicacion/obj/Debug/net6.0/CMS.Aplicacion.AssemblyInfoInputs.cache
/CMS/CMS/CMS.Aplicacion/obj/Debug/net6.0/CMS.Aplicacion.GeneratedMSBuildEditorConfig.editorconfig
/CMS/CMS/CMS.Aplicacion/obj/Debug/net6.0/CMS.Aplicacion.csproj.AssemblyReference.cache
*.cs
*.cache
*.editorconfig
/CMS/CMS/CMS.Aplicacion/obj/CMS.Aplicacion.csproj.nuget.dgspec.json
/CMS/CMS/.vs/CMS/v17/.suo
/CMS/CMS/CMS.Aplicacion/obj/CMS.Aplicacion.csproj.nuget.g.props
*.wsuo
/CMS/CMS/CMS.Aplicacion/obj/project.assets.json
/CMS/CMS/CMS.Aplicacion/obj/project.nuget.cache
*.json
*.props
*.targets
/CMS/CMS/CMS.Dominio/obj/Debug/net6.0/CMS.Dominio.AssemblyInfoInputs.cache
/CMS/CMS/CMS.Dominio/obj/Debug/net6.0/CMS.Dominio.assets.cache
/CMS/CMS/CMS.Dominio/obj/Debug/net6.0/CMS.Dominio.csproj.AssemblyReference.cache
/CMS/CMS/CMS.Dominio/obj/Debug/net6.0/CMS.Dominio.GeneratedMSBuildEditorConfig.editorconfig
/CMS/CMS/CMS.Dominio/obj/CMS.Dominio.csproj.nuget.g.props
/CMS/CMS/CMS.Dominio/obj/CMS.Dominio.csproj.nuget.dgspec.json
/CMS/CMS/CMS.Dominio/obj/project.assets.json
/CMS/CMS/CMS.Dominio/obj/project.nuget.cache
/CMS/CMS/CMS.Infraestructura/obj/Debug/net6.0/CMS.Infraestructura.AssemblyInfoInputs.cache
/CMS/CMS/CMS.Infraestructura/obj/Debug/net6.0/CMS.Infraestructura.assets.cache
/CMS/CMS/CMS.Infraestructura/obj/Debug/net6.0/CMS.Infraestructura.csproj.AssemblyReference.cache
/CMS/CMS/CMS.Infraestructura/obj/Debug/net6.0/CMS.Infraestructura.GeneratedMSBuildEditorConfig.editorconfig
/CMS/CMS/CMS.Infraestructura/obj/CMS.Infraestructura.csproj.nuget.dgspec.json
/CMS/CMS/CMS.Infraestructura/obj/CMS.Infraestructura.csproj.nuget.g.props
/CMS/CMS/CMS.Infraestructura/obj/project.assets.json
/CMS/CMS/CMS.Infraestructura/obj/project.nuget.cache
