<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Content Management System - Sistema de Gestion de Contenido" name="description" />
    <meta content="InnovaIT" name="author" />
    <title>Cyan - Content Management System </title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="">
    
    <!-- CSS Imports -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
   
    <!-- Template SideBar Icons Css -->
    <link href="~/css/template-sidebar/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/template-sidebar/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>
<body data-sidebar="dark">
    @if (ViewBag.IsLoginView != null)
    {
        @RenderBody()
    }
    else
    {
        <div id="layout-wrapper">
            <partial name="_Topbar" />
            <partial name="_Sidebar" />

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; <script>document.write(new Date().getFullYear())</script> - Cyan Content Management System
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/lib/simplebar/simplebar.min.js"></script>
    <script src="~/lib/node-waves/waves.min.js"></script>
    <!-- dashboard init -->
    <script src="~/js/template-sidebar/pages/dashboard.init.js"></script>
    <!-- App js -->
    <script src="~/js/template-sidebar/app.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
