<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="index.html" class="waves-effect">
                        <i class='bx bxs-dashboard'></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Company")" class="waves-effect">
                        <i class='bx bxs-dashboard'></i>
                        <span>Compañias</span>
                    </a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect">
                        <i class='bx bxs-dashboard'></i>
                        <span>Planes</span>
                    </a>
                </li>

                <li class="menu-title mt-3">Gestion de Contenido</li>
                <li>
                    <a href="auth-login.html" class="waves-effect">
                        <i class="bx bx-log-in-circle"></i> <span>Componentes</span>
                    </a>
                    <a href="auth-login.html" class="waves-effect">
                        <i class="bx bx-log-in-circle"></i> <span>Tipo de Componentes</span>
                    </a>
                </li>
                <li>
                    <a href="auth-register.html" class="waves-effect">
                        <i class="bx bxs-edit"></i> <span>Configuracion</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->


