<object data="/ReportesPdf/CARACTERISTICAS DE NEGOCIACION CON EL MERCADO ALEMNA-INGLES-USA.pdf" type="application/pdf" width="100%" height="700">

    <iframe src="https://turismoin-qa-web.atomikal.dev/archivos/ReportesPdf/CARACTERISTICAS DE NEGOCIACION CON EL MERCADO ALEMNA-INGLES-USA.pdf?zoom=100" width="100%" height="700">
        <p>This browser does not support PDF!</p>
    </iframe>
</object>

<ul>
    <li>
        <div class="item share">
            <img src="/Images/share.png">
        </div>
    </li>
    <li>
        <div onclick="copyUrlDocumentReporte(this);" class="item">
            <i class="fas fa-link"></i>
        </div>
    </li>
    <li>
            <div class="item">
                <a href="https://turismoin-qa-web.atomikal.dev/archivos/ReportesPdf/CARACTERISTICAS DE NEGOCIACION CON EL MERCADO ALEMNA-INGLES-USA.pdf" download="" title="CARACTERÍSTICAS Y CÓMO NEGOCIAR CON ALEMANIA, ESTADOS UNIDOS Y REINO UNIDO" target="_blank">
                    <img src="/Images/download.png" alt="">
                </a>
            </div>
    </li>
    
        <li>
            <div class="item pin pinned">
                <img src="/Images/pin.png">
            </div>
        </li>
</ul>