h2{
    text-align: center;
}
#caja{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 20%;
}
#datos{
    margin-top: 50px;
    margin-left: 30px;
}
#desc{
    width: 80%;
    border: 1px solid blue;
    margin-left: 10%;
    border-radius:35px ;
    text-align: center;
}
#perfil{
    background-color: white;
    color: blue;
    width: 100%;
    height: 500px;
    border-radius: 35px;
}
#comp_home{
    margin-left: 18%;
}