@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="About">
    <div class="About-foto"> <img src="~/img/profile.jpg"/></div>
    <div class="About-desc"><h6><br />Un poco sobre mí.</h6><p>
            Desarrollador Backend en ASP.NET Core MVC. <br />
            Estudiante de Ingenieria de Sistemas </p> </div>
</div>

<div class="About2">
    <div class="About-t"><h6>Tecnologias y herramientas</h6> 
                         <ul>
                             <li>ASP.NET Core v5 v6</li>
                             <li>Entity Framework Core</li>
                             <li>Razor</li>
                             <li>LINQ</li>
                             <li>Swagger</li>
                             <li>SQL Server</li>


                         </ul>
    
    <div class="About-item">
        <img src="~/img/netcore.png"/>
    </div>
    </div>
    <div class="About-c"><h6>CTO en Formative</h6><p>Proyecto educacion online, plataforma educativa de aprendizaje y comprension lectora en niños de nivel primario(6-11 años).<br />"Programa Faustino Innova" en UNJFSC.</p> </div>
</div>
