
<div class="titlecert"> <p> My Certificates</p></div>
<div id="Certif">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="3000">
                <img src="~/img/Azure.png" width="600" height="400" class="d-block w-80" alt="Azure">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="~/img/Excel.png" width="600" height="400" class="d-block w-80" alt="Excel">
            </div>
            <div class="carousel-item " data-bs-interval="4000">
                <img src="~/img/sistemas.png" width="600" height="400" class="d-block w-80" alt="SistemasInf">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/img/Bootstrap.png" width="600" height="400" class="d-block w-80" alt="Bootstrap">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/img/SQLDS.png" width="600" height="400" class="d-block w-80" alt="SQL-DS">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/img/SQL SERVER.png" width="600" height="400" class="d-block w-80" alt="SQL SERVER">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div id="caja-cert">
    <div class="cert">
        <div class="cert-desc">
            <h4>Microsost Azure for Data Engineering</h4>
            <p>Emitido por Microsoft</p>
            <p>30 horas de formacion online</p>
            <p>Realizado en octubre 2021 </p>
        </div>
        <a href="https://www.coursera.org/account/accomplishments/certificate/YWZCMXZL4PZQ" target="_blank" class="btn btn-success">Ver Credencial</a>
    </div>
    <div class="cert">
        <div class="cert-desc">
            <h4>Excel Aplicado a los negocios</h4>
            <p>Emitido por Universidad Austral - Argentina</p>
            <p>40 horas de formacion online</p>
            <p>Realizado en setiembre 2021 </p>
        </div>
        <a href="https://www.coursera.org/account/accomplishments/certificate/P4KWWBHYT99L" target="_blank" class="btn btn-success">Ver Credencial</a>
    </div>

    <div class="cert">
        <div class="cert-desc">
            <h4>Diseño web con Bootstrap 4</h4>
            <p>Emitido por Universidad Austral - Argentina</p>
            <p>40 horas de formacion online</p>
            <p>Realizado en diciembre 2020 </p>
        </div>
        <a href="https://www.coursera.org/account/accomplishments/certificate/TTJJXJ2Q5X8R" target="_blank" class="btn btn-success">Ver Credencial</a>
    </div>

    <div class="cert">
        <div class="cert-desc">
            <h4>SQL for Data Science</h4>
            <p>Emitido por Universidad of California, Davies</p>
            <p>40 horas de formacion online</p>
            <p>Realizado en octubre 2020 </p>
        </div>
        <a href="https://www.coursera.org/account/accomplishments/certificate/T4G7FGE3FDPK" target="_blank" class="btn btn-success">Ver Credencial</a>
    </div>

    <div class="cert">
        <div class="cert-desc">
            <h4>Desarrollo de Sistemas de Infomacion con C# &Aacute; SQL Server</h4>
            <p>Emitido por Udemy</p>
            <p>91 horas de formacion online</p>
            <p>Realizado en setiembre 2020 </p>
        </div>
        <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-15990829-aafa-4a9f-822a-a3d1183216c3.pdf" target="_blank" class="btn btn-success">Ver Credencial</a>
    </div>

    <div class="cert">
        <div class="cert-desc">
            <h4>Desarrollo de Base de Datos con SQL Server</h4>
            <p>Emitido por Udemy</p>
            <p>18 horas de formacion online</p>
            <p>Realizado en setiembre 2019 </p>
        </div>
        <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-M7MKZCLH.pdf" target="_blank" class="btn btn-success">Ver Credencial</a>
    </div>
</div>
