

<div id="Certif">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img src="~/img/C#.png" width="600" height="400" class="d-block w-80" alt="...">
            </div>
            <div class="carousel-item ">
                <img src="~/img/SQL SERVER.png"width="600" height="400" class="d-block w-80" alt="...">
            </div>
            <div class="carousel-item ">
                <img src="~/img/SQLDS.png"width="600" height="400" class="d-block w-80" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
