@{
    ViewData["Title"] = "Home Page";
}

<!------ WELCOME ------->
<div id="welcome">
    <div class="caja">
        <div class="title">
            <h1>BIENVENIDO A</h1>
            <h2>Formative</h2>
            <h3> Cultivando la lectura. </h3>
        </div>
        <div class="text">
            <p>Las habilidades requeridas para avanzar en su comprension lectora y ganar su lugar en la</p><p>cima no son fáciles. Ahora hay un enfoque más gratificante para el aprendizaje</p><p>práctico que lo ayuda a alcanzar sus objetivos más rápido.</p>
            <strong>¡Gana puntos,niveles y logra más!</strong>
        </div>
    </div>
</div>
<!-- NIVELES -->
<div id="Niveles">

    <div class="Niv-Basico">
        <a href="niv-basico.html">
            <p>Nivel</p> <p>Basico</p>
            <img src="img/alumno1.gif">
        </a>
    </div>
    <div class="Niv-Intermedio">
        <a href="niv-intermedio.html">
            <p>Nivel </p><p>Intermedio</p>
            <img src="img/alumno2.gif">
        </a>
    </div>
    <div class="Niv-Avanzado">
        <a href="niv-avanzado.html">
            <p>Nivel </p> <p>Avanzado</p>
            <img src="img/alumno4.gif">
        </a>
    </div>
</div>
