@{
    ViewData["Title"] = "Narvasta Sergio";
}
<link rel="stylesheet" href="~/css/site.css" />
<!------ WELCOME ------->
<div id="welcome">
    <br /><br /><div class="foto"><img src="~/img/profile.jpg" /></div>
    <div class="enlaces">
        <a href="https://github.com/SergioNarvasta" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/sergio-narvasta/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="inf"> <p>Estudiante en Ingenieria de Sistemas en UNJSFC <br />Desarrollador Backend en ASP.NET Core</p></div>
    <div id="Carsl">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" id="control">
                <div class="carousel-item active " data-bs-interval="3000">
                    <img src="~/img/1.jpeg" class="d-block w-80" alt="Azure">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/2.jpeg" class="d-block w-80" alt="Excel">
                </div>
                <div class="carousel-item " data-bs-interval="4000">
                    <img src="~/img/3.jpeg" class="d-block w-80" alt="SistemasInf">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="~/img/4.jpeg" class="d-block w-80" alt="Bootstrap">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>



