@{
    ViewData["Title"] = "Narvasta Sergio";
}
<link rel="stylesheet" href="~/css/site.css" />
<!------ WELCOME ------->
<div id="welcome">
    <br /><br /><div class="foto"><img src="~/img/profile.jpg"/></div>
    <div class="enlaces">
        <a href="https://github.com/SergioNarvasta" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/sergio-narvasta/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="inf"> <p>Estudiante en Ingenieria de Sistemas en UNJSFC <br />Desarrollador Backend en ASP.NET Core</p></div>
</div>
<div id="Carsl">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="3000">
                <img src="~/img/Azure.png" class="d-block w-80" alt="Azure">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="~/img/Excel.png" class="d-block w-80" alt="Excel">
            </div>
            <div class="carousel-item " data-bs-interval="4000">
                <img src="~/img/sistemas.png" class="d-block w-80" alt="SistemasInf">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/img/Bootstrap.png" class="d-block w-80" alt="Bootstrap">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/img/SQLDS.png" class="d-block w-80" alt="SQL-DS">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/img/SQL SERVER.png" class="d-block w-80" alt="SQL SERVER">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


