@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<!------ WELCOME ------->
<div id="welcome">
    <div class="caja">
        <div class="title">
            <h1>BIENVENIDO A</h1>
            <h2>Portafolio Web</h2>
            <h3> Te saluda cordialmente Narvasta Pichilingue Sergio  </h3>
        </div>
        <div class="text">
            <p>Las habilidades requeridas para avanzar en su comprension lectora y ganar su lugar en la</p>
            <p>cima no son fáciles. Ahora hay un enfoque más gratificante para el aprendizaje</p>
            <p>práctico que lo ayuda a alcanzar sus objetivos más rápido.</p>
            <strong>¡Gana puntos,niveles y logra más!</strong>
        </div>
    </div>
</div>
<!-- NIVELES -->
<div id="Niveles">

    <div class="Niv-Basico">
        <a href="niv-basico.html">
            <p>Nivel</p> <p>Basico</p>
            <img src="img/alumno1.gif">
        </a>
    </div>
    <div class="Niv-Intermedio">
        <a href="niv-intermedio.html">
            <p>Nivel </p><p>Intermedio</p>
            <img src="img/alumno2.gif">
        </a>
    </div>
    <div class="Niv-Avanzado">
        <a href="niv-avanzado.html">
            <p>Nivel </p> <p>Avanzado</p>
            <img src="img/alumno4.gif">
        </a>
    </div>
</div>
<!-- PROJECTS -->
<div id="projects">
    <div class="centro">
        <div class="unjfsc"><a href="http://www.unjfsc.edu.pe/" target="_blank"><img src="img/unjfsc.jpg" width="140" height="140"></a></div>
        <div class="spinout"><a href="https://www.facebook.com/SpinOutUNJFSC/" target="_blank"><img src="img/SpinOut.jpg" width="140" height="140"></a></div>
        <div class="innova"> <a href=""><img src="img/Innova.png" width="140" height="140"></a></div>
        <div class="SM1551"><a href="http://www.1551.pe/" target="_blank"><img src="img/1551.png" width="140" height="140"></a></div>
    </div>
    <div class="def">
        <div class="df1"><p>Universidad Nacional</p> <p>Jose Faustino</p> <p>Sanchez Carrion</p></div>
        <div class="df2"><p>SpinOut UNJFSC</p></div>
        <div class="df3"><p>Programa</p> <p>Faustino Innova</p></div>
        <div class="df4"><p>1551 Incubadora de</p><p>Empresas Innovadoras</p><p>UNMSM</p></div>
    </div>
</div>
