@{
    ViewData["Title"] = "Narvasta Sergio";
}
<link rel="stylesheet" href="~/css/site.css" />
<!------ WELCOME ------->
<div id="welcome">
    <br /><br /><div class="foto"><img src="~/img/profile.jpg"/></div>
    <div class="enlaces">
        <a href="https://github.com/SergioNarvasta" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/sergio-narvasta/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div> <p>Desarrollador Backend en ASP.NET Core</p></div>
</div>


