@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="title"><p>My Projects</p></div>
<div id="Projects">
    <div class="Project1"><p>Finance Management System</p> 
    <h8>Finance Management System in ASP.NET Core 5.0, Entity Framework Core, LINQ,, Razor, SQL Server Database</h8>
    <button type="button" href="https://github.com/SergioNarvasta/Finance-Management-System" class="btn-primary"><i class="bi bi-github"></i> Visitar GitHub</button>
    </div> 
    <div class="Project2"><p>Tourist Services Management System</p>
    <h4>Development of a web application offers sales services for tourist packages, with the technologies: Angular 8, Typescript, HTML5, CSS3, SCSS, Javascript, JQuery</h4>
    <a href="https://github.com/SergioNarvasta/Tourist-Services-Management-System" target="_blank">Visitar GitHub</a> 
    </div>
    <div class="Project3"><p>Formative</p>
    <h4>Educational web platform focused on learning to read in children from 6 to 11 years old Developed in HTML5, CSS3, Javascript, Bootstrap4, JQuery since October 2019.</h4>
    <a href="https://github.com/SergioNarvasta/Formative" target="_blank">Visitar GitHub</a> 
    </div>
    <div class="Project4"><p></p><a href=""></a>
    </div>
    <div class="Project5"><p></p><a href=""></a> 
    </div>
    <div class="Project6"><p></p><a href=""></a> 
    </div>
    
</div>