@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="title"><p>My Projects</p></div>
<div id="Projects">
    <div class="Project1"><p>Finance-Management-System</p> 
    <h4>Finance Management System in ASP.NET Core 5.0, Entity Framework Core, LINQ,, Razor, SQL Server Database</h4>
    <a href=""></a>
    </div>
    <div class="Project1"><p></p><a href=""></a> 
    </div>
    <div class="Project2"><p></p><a href=""></a> 
    </div>
    <div class="Project1"><p></p><a href=""></a> 
    </div>
    <div class="Project1"><p></p><a href=""></a>
    </div>
    <div class="Project1"><p></p><a href=""></a> 
    </div>

</div>