
<div class="titleproj"><p><strong>My Projects</strong></p> <h8>In this section you will find my projects developed and in progress</h8></div>
<div id="Projects">
    <div class="caja">
        <div class="Project">
            <br />
            <p>Finance Management System</p>
            <h8>Finance Management System in ASP.NET Core 5.0,</h8><h8>Entity Framework Core, LINQ,</h8><h8> Razor, SQL Server Database</h8>
            <button type="button" href="https://github.com/SergioNarvasta/Finance-Management-System" class="btn btn-success"><i class="bi bi-github"></i> Visitar GitHub</button>
        </div>

        <div class="Project">
            <br />
            <p>Tourist Services Management System</p>
            <h8>Development of a web application offers sales services </h8><h8> for tourist packages, with the technologies: Angular 8,</h8><h8> Typescript, HTML5, CSS3, SCSS, Javascript, JQuery</h8>
            <a href="https://github.com/SergioNarvasta/Tourist-Services-Management-System" target="_blank">Visitar GitHub</a>
        </div>

        <div class="Project">
            <br />
            <p>Formative</p>
            <h8>Educational web platform focused on learning to read </h8><h8>in children from 6 to 11 years old Developed in HTML5,</h8><h8> CSS3, Javascript, Bootstrap4, JQuery since October 2019.</h8>
            <a href="https://github.com/SergioNarvasta/Formative" target="_blank">Visitar GitHub</a>
        </div>
    </div>
    <div class="caja">
        <div class="Project">
            <p></p><a href=""></a>
        </div>

        <div class="Project">
            <p></p><a href=""></a>
        </div>

        <div class="Project">
            <p></p><a href=""></a>
        </div>

    </div>
</div>