
@using Site.Models;
@model IEnumerable<SliderMain>

<div id="slider-main">Aqui se debe mostrar el SliderMain
@foreach( var item in Model)
{
	if (item.SliderMain_Estado != 0)
	{
		<div id="slider-item" data-imagen="@item.File_Base64" >
			@if (item.SliderMain_Titulo.Length > 0)
			{
			 <p>@item.SliderMain_Titulo</p>	
			}
			@if (item.SliderMain_Descripcion.Length > 0)
			{
				<p>@item.SliderMain_Descripcion</p>
			}
		</div>
	}
}
</div>

<style>
	#slider-main {
	width : 80%;
	height : 400px;
	margin-left:10%;
	border:1px solid black;
	}

</style>
