
#txa_skill_URLDrive {
    width: 300px;
    height: 80px;
    border: 1px solid white;

}
#td_skill_URLDrive{
    width: 300px;
    height: 80px;
}

#txa_skill_URLImagen {
    width: 300px;
    height: 80px;
    border: 1px solid white;

}
#td_skill_URLImagen{
    width: 300px;
    height: 80px;
}
