
/**********    PROYECTOS INFO  ********/
#List{
    display: flex;
}
#item{
    width: 400px;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 15px;
    text-align: center;
}
#item .img {
    width: 80%;
    height: 200px;
    border: 1px solid blue;
    margin-left: 10%;
}


/**********    PROYECTOS LISTADO  ********/
#btn_new{
    display: '';
    color: white;
    border: 1px solid rgb(150, 139, 139);
    width: 60px;
    height: 29px;
}
#psd{
    border: 1px solid rgb(171, 154, 154);
    width: 60px;
}
/**********    PROYECTOS REGISTRO  ********/
#form-registro{
    width: 80%;
    margin-left: 10%;
}
#form-name{
    width: 500px;
    margin-left: 20px;
}
#form-desc{
    width: 500px;
    height: 100px;
    margin-left: 85px;
}
#form-link{
    width: 500px;
    margin-left: 46px;
}
#btn_gen{
    width: 160px;
    background: linear-gradient(to top,#2501c4  0%, #2f86e9 100%);;
    border: 1px solid white;
    border-radius: 15px;
}
/*** PROYECTOS EM TABLA **/
#table-desc{
    width: 480px;
}