<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/60714d7b-536e-40cf-9941-37b3e4d76d47/resourceGroups/DefaultResourceGroup-SCUS/providers/Microsoft.ApiManagement/service/CyanCMS-WebAPI/apis/CyanCMS-WebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/60714d7b-536e-40cf-9941-37b3e4d76d47/resourcegroups/DefaultResourceGroup-SCUS/providers/Microsoft.Web/sites/CyanCMS-WebAPI</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SCUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cyancms-webapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dac666a8-a112-4591-8df7-162d7269f86e</ProjectGuid>
    <PublishUrl>https://cyancms-webapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CyanCMS-WebAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>