/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 1008px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 150%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* ------------------Index-------------------------------- */
#welcome {
    width: 100%;
    height: 240px;
    background: #0065b3;
    font-family: 'segoe UI';
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    #welcome .caja {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

.buho-gif {
    width: 70px;
    height: 80px;
}

.title h1 {
    font-size: 18px;
    padding-top: 20px;
}

.title h2 {
    font-size: 40px;
}

.title h3 {
    font-size: 18px;
}

#Niveles {
    width: 80%;
    height: 230px;
    text-align: center;
    font-family: 'segoe UI';
    font-size: 30px;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-top: 2%;
}

    #Niveles .fondo {
        position: absolute;
        width: 100%;
    }

    #Niveles .Niv-Basico {
        width: 270px;
        height: 200px;
        background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
        border-radius: 30px;
        float: left;
        justify-content: flex-start;
        position: relative;
    }

        #Niveles .Niv-Basico img {
            padding-top: 30px;
            padding-left: 15px;
        }

        #Niveles .Niv-Basico:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    #Niveles .Niv-Intermedio {
        width: 260px;
        height: 200px;
        background: linear-gradient(to top, #FFFF00 0%, #00FF00 100%);
        border-radius: 30px;
        float: left;
        position: relative;
    }

        #Niveles .Niv-Intermedio img {
            width: 200px;
            height: 150px;
            padding-top: 65px;
        }

        #Niveles .Niv-Intermedio:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    #Niveles .Niv-Avanzado {
        width: 270px;
        height: 200px;
        background: linear-gradient(to top, #DA70D6 0%, #800080 100%);
        border-radius: 30px;
        float: left;
        position: relative;
    }

        #Niveles .Niv-Avanzado img {
            width: 150px;
            height: 200px;
            padding-top: 45px;
        }

        #Niveles .Niv-Avanzado:hover {
            transform: scale(1.05);
            transition: 500ms;
        }

    #Niveles a {
        color: white;
        text-decoration: none;
        position: relative;
    }

#projects {
    width: 100%;
    height: 280px;
    background: #0065b3;
    font-family: 'segoe UI';
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centro {
    margin-top: 20px;
    width: 1000px;
    height: 150px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

#projects .unjfsc .spinout .innova .SM1551 {
    width: 160px;
    height: 160px;
}

#projects .def {
    width: 1000px;
    height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'segoe UI';
}

.def p {
    text-align: center;
}
/* ------------------Section projects-------------------------------- */
.titleproj{
    text-align: center;
    background-color: #0065b3;
    width: 100%;
    height: 110px;
    margin-top: -20px;
}
.titleproj p{
    color:white;
    font-size:20px;
    margin-top:0px;

}
#Projects p{
    


}
.Project {
    width: 350px;
    height: 280px; 
    background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    align-items:center;
}
.Project1 p,h8{
    color:white;
}
.Project p{
    color:black;
    font-size:20px;
}
.caja{
   display:flex;
   justify-content:space-evenly;
}
/* -----------------------Certificates--------------------------- */
.titlecert {
    width: 100%;
    height: 70px;
    background-color: #0065b3;
    text-align:center;
    margin-top: -20px;
}
.titlecert p{color:white; font-size:20px;}

#Certif{
    width: 600px;
    height: 405px;
    display:flex;
    margin-left:20%;
    margin-top:20px;
}
#cert-main {
    background-color: #0065b3;
}
#caja-cert1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#caja-cert2 {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:20px;
    margin-top:35px;
}
.cert {
    width: 220px;
    height: 200px;
}
.cert-desc{  
   display:flex;
   flex-direction:column;
}
    .cert-desc p,h4{color:white; }
    .cert-desc h4{font-size:21px;}
    /* -----------------------footer--------------------------- */
    #footer {
        display: flex;
        background: #1d262d;
        justify-content: space-around;
        height: 240px;
        align-items: center;
    }
 #footer .ft-1 {
       
        cursor: pointer;
        align-items: flex-start;
 }

.ft-1 p {
    color: #869fb2;
    font-size: 16px;
}

.ft-1 img:hover {
    transform: scale(1.1);
    transition: 300ms;
}
#footer .ft-2 {
    display: flex;
    flex-direction: column;
}
.ft-2 a {
    color: #869fb2;
    font-size: 16px;
    text-decoration: none;
}
    .ft-2 a:hover {
        color: white;
        transform: scale(1.05);
    }
#footer .ft-3 {
    display: flex;
    flex-direction: column;
}
.ft-3 a {
    color: #869fb2;
    font-size: 16px;
    text-decoration: none;
}
    .ft-3 a:hover {
        color: white;
        transform: scale(1.05);
    }

 




