/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 1008px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 150%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* ------------------Index-------------------------------- */
#welcome {
    width: 100%;
    height: 750px;
    background-image: url(../img/dev.jpg);
    font-family: 'segoe UI';
    color: white;
    margin-top:-20px;
    flex-direction:row;

}
.foto{margin-left:50px;}
.foto img{width:180px; height:250px; border:5px solid white;}
.enlaces { margin-left: 100px;}
.enlaces a{font-size:30px;color:white;}
.enlace{display:flex; flex-direction:column}
#welcome p{color:white;}
.inf p {margin-left: 40px;color:white;}
.enlaces a:hover{
    transform: scale(1.5);
    transition: 500ms;
}
#Carsl{
    width: 280px;
    height: 240px;
    margin-top:70px;
    margin-left:340px;
    
}
#control img{
    width: 270px;
    height: 235px;
    border-radius:15px 15px;
}

/* ------------------Projects-------------------------------- */
.titleproj{
    text-align: center;
    background-color: #0065b3;
    width: 100%;
    height: 110px;
    margin-top: -20px;
}
.titleproj p{
    color:white;
    font-size:20px;
    margin-top:0px;
}
.Project {
    width: 350px;
    height: 280px; 
    background: linear-gradient(to top, #0000FF 0%, #00CED1 100%);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    align-items:center;
}
.Project1 p,h8{
    color:white;
}
.Project p{
    color:black;
    font-size:20px;
}
.caja{
   display:flex;
   justify-content:space-evenly;
}
/* -----------------------Certificates--------------------------- */
.titlecert {
    width: 100%;
    height: 70px;
    background-color: #0065b3;
    text-align:center;
    margin-top: -20px;
}
.titlecert p{color:white; font-size:20px;}

#Certif{
    width: 700px;
    height: 605px;
    margin-left:165px;
    margin-top:20px;
}
#Certif img{width:650px; height:580px;}

#cert-main {
    background-color: #0065b3;
}
#caja-cert1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#caja-cert2 {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    margin-top:10px;
}
.cert {
    width: 220px;
    height: 200px;
}
.cert-desc{  
   display:flex;
   flex-direction:column;
}
    .cert-desc p,h4{color:white; }
    .cert-desc h4{font-size:21px;}
    /* -----------------------footer--------------------------- */
    #footer {
        display: flex;
        background: #1d262d;
        justify-content: space-around;
        height: 240px;
        align-items: center;
    }
 #footer .ft-1 {
       
        cursor: pointer;
        align-items: flex-start;
 }

.ft-1 p {
    color: #869fb2;
    font-size: 16px;
}

.ft-1 img:hover {
    transform: scale(1.1);
    transition: 300ms;
}
#footer .ft-2 {
    display: flex;
    flex-direction: column;
}
.ft-2 a {
    color: #869fb2;
    font-size: 16px;
    text-decoration: none;
}
    .ft-2 a:hover {
        color: white;
        transform: scale(1.05);
    }
#footer .ft-3 {
    display: flex;
    flex-direction: column;
}
.ft-3 a {
    color: #869fb2;
    font-size: 16px;
    text-decoration: none;
}
    .ft-3 a:hover {
        color: white;
        transform: scale(1.05);
    }

 




