


#side-menu .Companies .Img_LogoCompany {
    width: 70px;
    height: 70px;
}

#side-menu .Companies .Cbo_Companies {
    border-color: #8fa6bf;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}
#side-menu li a {
    color: #d6d6d6;
    display:flex;
    flex-direction:row;
    text-decoration:none;
}