html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand-box .Logo-part-cyan {
    font-size: 26px;
    color: #d6d6d6;
    font-family: "ADLaM Display", system-ui;
}

.navbar-brand-box .Logo-part-cms {
    font-size: 26px;
    color: #d6d6d6;
    font-family: "arial";
}
