
@using Site.Models;
@model IEnumerable<SiteMenuOptions>

<ul class="navbar-nav flex-grow-1 justify-content-center">
	@foreach (var opcion in Model)
	{
		if (opcion.MenuOptions_Estado == 1)
		{
		   <li class="nav-item">
		   	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@opcion.MenuOptions_Nombre</a>
		   </li>
		}
	}
</ul>
<style>
	
</style>

<script>
	
</script>


