
@using Site.Models;
@model IEnumerable<SliderMain>

<div id="slider_main">
@foreach( var item in Model)
{
	if (item.SliderMain_Estado != 0)
	{
		<div id="slider_item" class="d-flex flex-row" >
			<div class="description">			   
			   @if (item.SliderMain_Titulo.Length > 0)
			   {
			    <h1>@item.SliderMain_Titulo</h1>	
			   }
			   @if (item.SliderMain_Descripcion.Length > 0)
			   {
			   	<p>@item.SliderMain_Descripcion</p>
			   }
		       <div id="File_Base64" data-base64="@item.File_Base64F"></div>
			</div>
			<img id="img_slider"/>
		</div>
	}
}
</div>
<style>
	#slider_main {
	width : 80%;
	height : 400px;
	margin-left:10%;
	border:1px solid black;
	}

	#slider_item {
		width: 100%;
		height: 100%;
		cursor:pointer;
	}

	#img_slider{
		width: 75%;
		height: 100%;
	}

	#slider_main .description{
		width: 25%;
	}

	#slider_main .description p{
		color:blue;
	}

		#slider_main .description h1 {
			color: blue;
			margin-top:20px;
		}

</style>

	<script>
		var baseStr64 = $('#File_Base64').data("base64");
		var img_slider = document.getElementById('img_slider');
		img_slider.setAttribute('src', "data:image/jpg;base64," + baseStr64);
		if(baseStr64.length >0){
		console.log("Base 64 leido con exito");
		}
	</script>


